@font-face {
    font-family: "Modica";
    src: url("./modica-regular.otf");
}

:root {
    --font-faimly: "Modica";
    --primary: #afcbe9;
    --primary-dark: #97b7da;
    --white: #ffffff;
    --dark: #000;
    --dark-1: rgb(29, 29, 29);
}

* {
    box-sizing: border-box;
    font-family: var(--font-faimly);
}

html,
body {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.main-body {
    flex: 1;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: var(--primary);
}

.intro-text-details {
    display: flex;
    flex-direction: column;
}

.intro-details-name {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.intro-details-profession {
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.intro-icon {
    width: 250px;
    margin-left: 200px;
}

.who-are-we {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 500px;
}

.who-are-we-content {
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.services {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    padding: 80px;
}

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.services-row {
    display: flex;
    justify-content: space-around;
    flex: 1;
    margin-top: 30px;
}

.service-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.service-card-icon {
    width: 80px;
}

.service-card-title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
}

.service-card-details {
    text-align: center;
    margin-top: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    text-align: center;
}

.contant-send-email-button {
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    background-color: var(--primary);
    color: var(--dark);
    text-decoration: none;
}

.contant-send-email-button:hover {
    background-color: var(--primary-dark);
}

.footer {
    background-color: var(--dark-1);
    color: var(--white);
    height: 250px;
    padding: 80px;
    display: flex;
    align-items: center;
}

.footer-container > div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-container img {
    width: 20px;
    margin-right: 12px;
    filter: invert(1);
}

.footer-container > div:first-of-type {
    margin-top: 0px;
}

@media (max-width: 800px) {
    .intro-section {
        height: 450px;
        flex-direction: column;
    }

    .intro-text-details {
        text-align: center;
    }

    .intro-section img {
        margin-left: 0px;
        margin-top: 40px;
        width: 150px;
    }

    .service {
        padding: 40px;
    }

    .services-row {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .service-card-container {
        width: 90%;
    }

    .service-card-container:last-of-type {
        margin-top: 40px;
    }

    .contact {
        padding: 40px;
    }

    .footer {
        padding: 60px;
    }
}
